html, body, ul, li {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

/*************** IMPORT FONTS ***************/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?5jbta8');
	src:url('fonts/icomoon.eot?#iefix5jbta8') format('embedded-opentype'),
		url('fonts/icomoon.woff?5jbta8') format('woff'),
		url('fonts/icomoon.ttf?5jbta8') format('truetype'),
		url('fonts/icomoon.svg?5jbta8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-search:after {
	content: "\e986";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android:before {
	content: "\eac1";
}
/********************************************/

body {
	background: #F5EBD0;
}
header {
	text-align: center;
}
div {
	border: solid 0px #ccc;
}
.title {
	font-family: 'Gabriela', serif;
}
.presentation, .tutorial {
	display: inline-block;
	margin-top: 20em;
	width: 40%;
}

.bar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 10% 0 10%;
	box-sizing: border-box;
	line-height: 2.5em;
	background: rgba(254, 223, 133, 0.7);
}
.bar .cell {
	display: block;
}
.bar .title {
	text-align: left;
	font-size: 1.5em;
}
.bar .search div{
	position: relative;
	width: 65%;
	max-width: 360px;
	line-height: 2em;
	margin: auto;
	background: white;
	border-radius: 0.7em;
}
.bar .search input:focus, .bar .search button:focus {
	outline: 0;
}
.bar .search input {
	width: 95%;
	box-sizing: border-box;
	padding-left: 0.2em;
	padding-right: 2em; 
	border: none;
}

.bar .search button {
	position: absolute;
	right: 0;
	line-height: 2.3em;
	margin-right: 0.5em;
	background: transparent;
	border: none;
}
.bar .mobile-apps {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10%;
}
.bar .mobile-apps ul {
	margin-top: 0.2em;
}
.bar .mobile-apps li{
	display: inline-block;
	background: #777;
	padding: 0.5em;
	border-radius: 0.7em;
	color: white;
}
.bar .mobile-apps a{
	display: none;
	color: white;
	text-decoration: none;
}
@media screen and (min-width: 550px) {
	.bar {
		display: table;
		padding: 0 5% 0 5%;
	}
	.bar .mobile-apps {
		text-align: right;
		position: static;
		margin-right: 5%;
	}
	.bar .cell {
		display: table-cell;
		vertical-align: middle;
		width: 26%;
	}
	.bar .search {
		width: 48%;
	}
}
@media screen and (min-width: 900px) {
	.bar {
		padding: 0 2% 0 2%;
	}
	.bar .mobile-apps {
		margin-right: 2%;
	}
	.bar .mobile-apps a{
		display: inline-block;
	}
}